.NoTable
{
	font-size: 15px;
	font-family: Arial;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 2px;
	padding-bottom: 2px;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	width: 28%;
}
.Footer
{
	text-align: right;
}
.Back1
{
	background-image: url(https://img2.goodfon.ru/original/1920x1111/4/f2/osen-les-gory-oblaka-derevia-pole-chasovnia-alpy-dolomity.jpg);
	background-attachment: scroll;
	background-repeat: repeat;
	padding-left: 40%;
	padding-right: 40%;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: middle;
}
.Back2
{
	background-image: url(https://im0-tub-ru.yandex.net/i?id=bf83bcf547fdb3677134feea81a1e94e-l&n=13);
	background-attachment: fixed;
	background-repeat: no-repeat;
	padding-left: 40%;
	padding-right: 40%;
	padding-top: 10px;
	padding-bottom: 10px;
}
h
{
	color: #641349;
	font-size: 22px;
	font-family: cursive, comic sans ms, franklin gothic medium, arial;
	font-weight: bold;
}
div p
{
	font-size: 18px;
	font-family: Arial;
	color: #00416a;
}
nav /*задаем параметры для контейнера nav */
{	
	margin: 0px;
	padding-left: 0px;
	margin-bottom: 20px;
	background-color: #8c4566;
}
nav ul /* убираем отступы, поля, list-style */
{
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
}
nav ul li /* применяем позиционирование к элементам навигации */
{
	margin: 0px -7px 0 0;
	display: inline-block;
	background-color: #8c4566;
	margin-right: 5px;
	margin-left: 5px;
}
nav a /* стиль для ссылок */
{
	display: block;
	padding: 0 10px;
	color: #230d21;
	font-size: 20px;
	line-height: 60px;
	text-decoration: none;
}
nav a:hover /* изменение фона при наведении курсора */
{
	background-color: #6b344e;
}
nav ul ul /* скрываем вып. списки и задаем абс. позиционирование */
{
	display: none;
	position: absolute;
	top: 100%;
}
nav ul li:hover > ul /* отображаем вып. списки при наведении */
{
	display: inherit;
}
nav ul ul li /* первый уровень выпадающего списка */
{
	min-width: 170px;
	float: none;
	display: list-item;
	position: relative;
}
@media print
{
	img
	{ 
		display: none; 
	} 
	.Footer
	{
		display: none;
	}
	nav
	{
		display: none;
	}
}